@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body{
	background-color: #000;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}


/*======================================================================
========================================================================
                                LANDING PAGE
========================================================================
======================================================================*/

.introbanner{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(../images/banner10.png) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover; 
}

.introbanner .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10%;
}

.fly-in-text{
	list-style: none;;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li{
    display: inline-block;
    color: #fff;
    margin-right: 40px;
    font-family: 'Barlow Condensed', sans-serif;  
    font-weight: 300;
    font-size: 6em;
    opacity: 1;
    transition: all 3.5s ease;
}

.btnbanner{
	font-family: 'Montserrat', sans-serif;
	font-size: 120%;
	font-weight: 200;
	color:#fff;
	border: solid #3A616A;
	border-width: 2px;
	padding: 5px 15px;
	padding-bottom: 7px;
	border-radius: 1000px;
	transition: all 0.5s;
	text-decoration: none;
	position: absolute;
	top:75%;
	left:48%;
	opacity: 0.5;
}


.btnbanner:hover{
	color: #CBDFD6;
	font-size: 60%;
	font-weight: 400;
	opacity: 1;
	border: solid #CBDFD6;
	border-width: 2px;
	padding: 2%;
	border-radius: 1000%;
	}


.fly-in-text li:last-child {
	margin-right: 0;
}

.fly-in-text.hidden li{
	opacity: 0;
}


.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(232px) translateY(-340px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }


/* ----------- end of landing page------------ */
















/* ---------------2nd section----------- */
.bg {
    background-image: url("http://i.imgur.com/hJcZOWD.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg h1{
	text-align: center;

	font-family: 'Yantramanav', sans-serif;
	font-size: 1000%;
	padding-top: 18.5%;
	font-weight: 100;
	color: #fff;
	line-height: 5%;
}

p{
	padding-top: 10%;
	color:white;
	text-align: center;
	font-size: 110%;
}



/* --------------- 2nd section-------------- */















/*----------------------------- Navbar ---------------------*/
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}






div.container
{
    font-family: 'Yantramanav', sans-serif;
    margin: 0 auto;
	padding: 5px 10px;
	text-align: right;
	font-size: 20px;
	font-weight:125%;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font-family: 'Yantramanav', sans-serif;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.red{
    background: red;
}


/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}










/*====================================================================
======================================================================
                             PARALLAX EFFECT
======================================================================
====================================================================*/

.parallax-image-1, .parallax-image-2, .parallax-image-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallax-image-1 {
  background-image: url("https://fsmedia.imgix.net/84/17/dd/0f/0765/4c62/8fa7/58badbabd5fc/lookupjpg.jpeg?rect=0%2C43%2C1500%2C750&auto=format%2Ccompress&w=1200");
  min-height: 100%;
}

.parallax-image-2 {
	background-image: url(../images/parallax2.jpg);
  min-height: 400px;
}

.parallax-image-3 {
  background-image: url("https://helpx.adobe.com/content/dam/help/en/stock/how-to/open-in-app-purchase/_jcr_content/main-pars/image_1981313668/open-in-app-purchase_1408x792.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}










/*==========================================
==============================================
              CARDS SECTION
==============================================
  ==========================================*/

.cards-section section{
    padding: 80px 0px;
}



}
.bg-texture-collage{
    background:-webkit-linear-gradient(-45deg, #ffb300 33%, transparent 0%),
        linear-gradient(-45deg, #d81b60 67%, transparent 33%),
        linear-gradient(-45deg, #ffb300 100%, transparent 67%);
    background:-moz-linear-gradient(-45deg, #ffb300 33%, transparent 0%),
        linear-gradient(-45deg, #d81b60 67%, transparent 33%),
        linear-gradient(-45deg, #ffb300 100%, transparent 67%);
    background:linear-gradient(-45deg, #ec407a 33%, transparent 0%),
        linear-gradient(-45deg, #e91e63 67%, transparent 33%),
        linear-gradient(-45deg, #ec407a 100%, transparent 67%);
}
.bg-alt {
    background-color: #fff;
}
.bg-faded{
    background-color: #FAFAFA;
}
.bg-primary{
    background-color: #d81b60 !important;
}
.bg-footer{
    background-color: #171717;
  }





/*===============================================
* Borders Utilities
================================================*/
.border-none{
    border: none !important;
    border-color: transparent !important;
}
.border-all{
    border: 1px solid #DEE5E5 !important;
}
.border-left{
    border-left: 1px solid #DEE5E5 !important;
}
.border-right{
    border-right: 1px solid #DEE5E5 !important;
}
.border-top{
    border-top: 1px solid #DEE5E5 !important;
}
.border-bottom{
    border-bottom: 1px solid #DEE5E5 !important;
}





/*===============================================
* Cards
================================================*/
.card{
    border: none;
    margin-bottom: 30px;
}
.card .card-block .icon-box{
    padding: 20px 0;
    color: #d81b60;
}
.card .card-block h6{
    padding-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}
.card:hover{
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #d81b60;
}



